* {
  font-family: "Jua", sans-serif;
}
.comment {
  font-weight: 900;
  font-size: 2rem;
  color: #ee6352;
}

.comment1 {
  font-weight: 900;
  font-size: 2rem;
  color: #ee6352;
}

.waitpeople {
  font-weight: 900;
  font-size: 2rem;
  color: #ee6352;
}
