<br />
<button
  *ngIf="!isActive()"
  mat-icon-button
  class="start"
  (click)="toggleVideoMedia()"
  [disabled]="isActive()"
  color="primary"
  aria-label="videocam icon-button"
>
  <mat-icon class="start">qr_code_scanner</mat-icon>
</button>

<button
  *ngIf="isActive()"
  mat-icon-button
  class="stop"
  (click)="toggleVideoMedia()"
  [disabled]="!isActive()"
  color="warn"
  aria-label="videocam icon-button"
>
  <mat-icon class="stop">qr_code_scanner</mat-icon>
</button>
<br />
<br />
<h2>대기를 원하시면 이 곳에 QR코드를 스캔해 주세요!<h2>
<video #video autoplay muted playsinline width="640" height="480"></video>
<canvas #canvas hidden></canvas>
